!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}/

    %title Mt.Pleasant Music
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body 
    / this is the navbar
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Mt.Pleasant Music
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Services
                %b.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "/repairs"} Repair
                / %li
                /   %a{:href => "/lessons"} Lessons 
                %li
                  %a{:href => "/inventories"} Inventory
            %li
              %a{:href => "/staffs"} About Us
            %li
              %a{:href => "/contact"} Contact
            - if user_signed_in?          
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Account
                  %b.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "/users/edit"} Edit Account
                  %li
                    = link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Sign In", new_user_session_path
        /.navbar-collapse
      /.container
    = yield
    %footer
      .row
        .col-lg-6
          %p Copyright &copy; Mt.Pleasant Music 2014
        .col-lg-6#foolproof
          %a{:href => "/contact"} Contact Us

